<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>retroDB</title>
    {{!-- TODO: temporary CSS stylesheet, we can use Bootstrap if we want --}}
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div>
        {{> header}}
        {{{body}}}
    </div>
</body>
</html>