<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Please note!</strong> We have not connected to the database yet and the search functions do not work.
    Currently we only have temporarly data for displaying purpose.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div id="intro" class="container">
    <h1>Welcome to RetroDB!</h1>
    <p>Here I will put some introduction</p>
    <p>But I dont know what to put yet ¯\_(ツ)_/¯....</p>
</div>

<div id="search" class="container">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Browse Games</h5>
        </div>
        <div class="card-body">
            <h6>Search by</h6>
            <form action="/results" method="get">
                <fieldset>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="searchRadio" id="games" value="games" checked >
                        <label class="form-check-label" for="inlineRadio1">Games</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="searchRadio" id="publishers" value="publishers">
                        <label class="form-check-label" for="inlineRadio2">Publishers</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="searchRadio" id="consoles" value="consoles">
                        <label class="form-check-label" for="inlineRadio3">Consoles</label>
                    </div>
                    <div>
                        <input type="text" style="width: 400px;">
                        <button type="submit" class="btn btn-secondary">Search Games</button>
                    </div>
                    
                </fieldset>       
            </form>
        </div>
    </div> 
</div>