<div class="container">
    <div>
        <h3>Publisher Name: </h3>
        <h3>Nintendo</h3>
    </div>
</div>


<div class="container flex-game">
    <div class="card" style="width: 30rem;">
        <div class="card-header">
            Publisher
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Publisher: Nintendo</li>
            <li class="list-group-item">Year Founded: 1234</li>
            <li class="list-group-item">CEO: Someone</li>
        </ul>
    </div>

    <div class="container">
        <!--sample image from wikipedia-->
        <img class="gameImage" src="images/Nintendo.png" alt="game image">
    </div>

</div>

<div id="search" class="container">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Browse Games</h5>
        </div>
        <div class="card-body">
            <h6>Search by</h6>
            <form action="/results" method="get">
                <fieldset>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="searchRadio" id="games" value="games"
                            checked>
                        <label class="form-check-label" for="inlineRadio1">Games</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="searchRadio" id="publishers"
                            value="publishers">
                        <label class="form-check-label" for="inlineRadio2">Publishers</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="searchRadio" id="consoles" value="consoles">
                        <label class="form-check-label" for="inlineRadio3">Consoles</label>
                    </div>
                    <div>
                        <input type="text" style="width: 400px;">
                        <button type="submit" class="btn btn-secondary">Search Games</button>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>