<div class="container">

    {{#if gameActive}}
    <form action="../admin/update" method="post">
        
    </form>
    {{/if}}

    {{#if consoleActive}}
    <h2>console</h2>
    {{/if}}

    {{#if publisherActive}}
    <h2>publisher</h2>
    {{/if}}

    {{#if userActive}}
    <h2>user</h2>
    {{/if}}


    
</div>