body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0 auto !important; 
  margin-bottom: 0px !important; 
  height:100vh !important; 
  float: none !important; 
  background-color: #f1f6f8;
}

/*nav var*/
.bg-nav {
  background-color: #085175;
}

.navbar-brand.brand{
  color: white;
  font-size: 30px;
  font-weight: 1000;
  margin-left: 20px;
}

.navbar-brand.brand:hover{
  color: white;
}

.navbar.navbar-expand-lg.navbar-light.bg-nav li a {
    color: white;
}

.active{
  font-weight: bold;
}
/*nav var end*/

/*body*/
#content{
  position:relative;
  background-color:white;
  min-height:100vh !important; 
  width: 90%;
  max-width: 2000px;
  padding: 2%;
  margin: 2% auto;
}

/*footer*/
#footer{
  position: relative;;
  bottom: 0;
  width: 100%;
  background-color:#085175;
  color:white;
}

#footerlink{
  color:white;
}


/*
@media only screen and (max-width: 600px){
}
*/