/* basic */
.container{
    margin-bottom: 3%;
}

h3,h4{ 
    display: inline; 
}

.flex-container{
    display: flex;
    justify-content: flex-start;
}

/* result page */
.dataTable{
    width: 100%;
    margin-right: 5%;
}

#filters{
    width: 100%;
}

#filters select{
    width: 300px;
}

#submitFilter{
    margin-top:5px;
    margin-left:185px;
}

/* game, console and publisher page */
.gameImage{
    width: 400px;
}

.flex-game{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.game-card{
    display: inline-block;
    margin-left: 0px;
    margin-right: 10px;
    height: 100%;
}

.gameImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  max-width: 600px;
}